.Category .box .imge::before{
    content: '';
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: #dce5e4;
    left: 10%;
    bottom: 0px;
    z-index: -1;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
}
.Testimonials-mySwiper{
    height: 460px !important;
}
.Testimonials-mySwiper .swiper-pagination-bullet-active{
    background-color: rgb(16, 45, 10);
}